/*
 * Off canvas
 */

.ui-dialog-off-canvas {
  z-index: 10000;
}

.ui-dialog-off-canvas .ui-dialog-titlebar {
  background: var(--colorGinPrimaryHover) !important;
}

.ui-dialog-off-canvas .ui-dialog-titlebar .ui-dialog-title {
  color: var(--colorGinButtonText) !important;
  width: calc(100% - 30px);
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-dialog-off-canvas .ui-dialog-titlebar-close .ui-icon-closethick {
  background: var(--colorGinButtonText) !important;
}

.ui-dialog-off-canvas .ui-widget-content.ui-dialog-content {
  background: var(--colorGinLayerBackground) !important;
}

.ui-dialog-off-canvas .claro-details__summary {
  text-transform: uppercase;
}

.ui-dialog-off-canvas .claro-details__wrapper {
  padding-left: 15px;
}

.ui-dialog-off-canvas .claro-details__wrapper ul,
.ui-dialog-off-canvas .claro-details__wrapper ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ui-dialog-off-canvas .claro-details__wrapper .form-item {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.ui-dialog-off-canvas .claro-details__wrapper ul li a {
  display: block;
  margin: 0 !important;
  color: var(--colorGinText);
}

.ui-dialog-off-canvas .lb-plus__draggable-icon {
  background: var(--colorGinText) !important;
}

.ui-dialog-off-canvas .layout-node-form__actions {
  display: block;
}

.ui-dialog-off-canvas .layout-node-form__actions .meta-sidebar__trigger {
  display: none;
}

/*
 * Common
 */

.layout-builder__message--overrides .messages {
  background: none;
}

/*
 * Workspace toolbar
 */
.gin-secondary-toolbar .toolbar-bar {
  background: none !important;
}

.gin-secondary-toolbar .workspaces-toolbar-tab {
  border-radius: var(--ginBorderSmall);
}

.gin-secondary-toolbar #toolbar-item-workspace-tray {
  width: fit-content;
  left: unset;
  right: 0;
}

.gin-secondary-toolbar .toolbar-secondary .toolbar-bar .toolbar-tab .toolbar-tray {
  border-top-right-radius: 0 !important;
}

.gin-secondary-toolbar .toolbar-secondary .toolbar-bar .workspaces-toolbar-tab:hover .trigger,
.gin-secondary-toolbar .toolbar-secondary .toolbar-bar .workspaces-toolbar-tab:focus .trigger {
  background-color: unset !important;
}

.gin-secondary-toolbar .toolbar-secondary .toolbar-bar .toolbar-tab {
  margin-left: 0 !important;
}

.gin-secondary-toolbar .wse-workspace-switcher-form {
  align-items: flex-end;
  padding: 1rem 0.5rem;
}

.gin-secondary-toolbar .wse-workspace-switcher-form > * {
  margin: 0;
}

.gin-secondary-toolbar .toolbar-secondary {
  margin-left: auto;
}

/*
 * Layout builder
 */
#layout-builder,
.layout-builder__region,
.layout-builder__add-section {
  border-radius: var(--ginBorderMedium);
}

#layout-builder {
  border-color: var(--colorGinPrimary);
}

.layout-builder__link--add-template-to-library {
  background: var(--colorGinPrimary);
  color: var(--colorGinButtonText);
  padding: calc(1rem - 2px) calc(1.5rem - 2px);
  border: 2px solid var(--colorGinPrimary) !important;
  border-radius: var(--ginBorderDefault);
  box-shadow: 0 1px 2px var(--colorGinPrimaryLight);
  transition: var(--ginTransition);
  font-weight: 700;
  width: fit-content;
}

.layout-builder__link--add-template-to-library:hover {
  background-color: var(--colorGinPrimaryHover);
  color: var(--colorGinButtonText);
}

.block-lb-plus-administration-block .lb-plus--invisible {
  display: none;
}

.region-sticky form.layout-builder-form > *:not(.form-actions) {
  display: none;
}

.region-sticky form.layout-builder-form .form-actions {
  margin: 0;
  flex-wrap: nowrap;
  width: max-content;
  align-items: center;
  gap: 0.75rem;
}

.region-sticky form.layout-builder-form .form-actions .lb-plus-layout-actions {
  order: 2;
}

.region-sticky form.layout-builder-form .form-actions .lb-plus-layout-actions .dropbutton-wrapper {
  margin: 0;
}

.region-sticky__items__inner form.layout-builder-form {
  order: 1;
}

.region-sticky__items__inner .lb-plus-sticky {
  order: 2;
  padding-left: 0.75rem !important;
}

.region-sticky__items__inner .layout-builder__link--add-template-to-library {
  order: 3;
}

.region-sticky__items__inner .layout-builder__link--add-template-to-library {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.region-sticky__items__inner .layout-builder__link--add-template-to-library::before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  -webkit-mask-size: 20px 20px;
  mask-size: 20px 20px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  background: currentColor;
  -webkit-mask-image: url("../images/plus.svg");
  mask-image: url("../images/plus.svg");
  min-width: 20px;
}

.region-sticky__items__inner #edit-preview-toggle:hover {
  position: relative;
}

.region-sticky__items__inner #edit-preview-toggle::after {
  content: attr(data-tooltip);
  display: block;
  position: absolute !important;
  bottom: 0;
  left: 40px;
  background: var(--colorGinLayer2Background);
  padding: 0.5rem !important;
  border-radius: 0.5rem;
  width: max-content;
  font-size: small;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
}

.region-sticky__items__inner #edit-preview-toggle:hover::after {
  --fade-time: 600ms;
  --wait-time: 300ms;
  visibility: visible;
  opacity: 1;
  -webkit-animation: wait var(--wait-time), fade-in var(--fade-time) var(--wait-time);
  animation: wait var(--wait-time), fade-in var(--fade-time) var(--wait-time);
}

@keyframes wait {
  0% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


/**
 * Section and library overrides
 */
#drupal-off-canvas .layout-selection,
#drupal-off-canvas .layout-selection li,
#drupal-off-canvas .section-library-links,
#drupal-off-canvas .section-library-links li {
  margin: 0;
  padding: 0;
}

#drupal-off-canvas .section-library-links,
#drupal-off-canvas .layout-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

#drupal-off-canvas .section-library-links li,
#drupal-off-canvas .layout-selection li {
  --li-section-width: calc((100% / 3) - 5px);
  flex: var(--li-section-width);
  max-width: var(--li-section-width);
  border: 1px solid gray;
  padding: 0rem !important;
}

#drupal-off-canvas .layout-selection li a {
  height: calc(100% - 2rem);
  display: block;
  padding: 1rem !important;
}

#drupal-off-canvas .section-library-links li a {
  align-content: flex-start;
}
