/* Config */

:root {
  --gray: #232429;
  --gray-900: #393a3f;
  --gray-800: #55565b;
  --gray-700: #75767b;
  --gray-600: #828388;
  --gray-500: #919297;
  --gray-400: #adaeb3;
  --gray-300: #c1c2c7;
  --gray-200: #d3d4d9;
  --gray-100: #dedfe4;
}

/* Contextual links */

[data-decoupled-contextual] {
  position: relative;
}

[data-decoupled-contextual]:hover .spa-admin-contextual-links {
  position: absolute;
  top: 0;
  right: 0;
}

[data-decoupled-contextual] .spa-admin-contextual-links .contextual-links {
  display: none;
  border: 1px solid var(--gray-300);
  background: var(--gray-100);
  border-radius: 5px;
  font-size: 12px;
  transition: all 500ms;
}

[data-decoupled-contextual] .spa-admin-contextual-links .contextual-links:hover {
  border-color: var(--gray-700);
  background: var(--gray-200);
}

[data-decoupled-contextual] .spa-admin-contextual-links .contextual-links,
[data-decoupled-contextual] .spa-admin-contextual-links .contextual-links li {
  margin: 0;
  padding: 0;
  list-style: none;
}

[data-decoupled-contextual] .spa-admin-contextual-links .contextual-links {
  padding: 5px 10px;
}

[data-decoupled-contextual] .spa-admin-contextual-links .contextual-links li {
  display: flex;
  line-height: 1.2rem;
}

[data-decoupled-contextual] .spa-admin-contextual-links .contextual-links li a,
[data-decoupled-contextual] .spa-admin-contextual-links .contextual-links li a:visited {
  color: var(--gray-800);
}

[data-decoupled-contextual] .spa-admin-contextual-links .contextual-links li a:focus {
  outline: none;
}

[data-decoupled-contextual] .spa-admin-contextual-links .contextual-links li a:hover {
  text-decoration: underline;
}

[data-decoupled-contextual]:hover > .spa-admin-contextual-links .contextual-links {
  display: block;
}

/*
 * Decoupled elements.
 */
spa-admin-decoupled-component {
  overflow: hidden;
}
