<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% if use_shadowdom %}
  <spa-admin-decoupled-component>
    <template>
  {% endif %}
      <x-decoupled-component id="{{ id }}" type="{{ type }}" provider="{{ provider }}" link="{{ link }}"></x-decoupled-component>
  {% if use_shadowdom %}
    </template>
  </spa-admin-decoupled-component>
  {% endif %}
</div>
