{% if (page.gin_secondary_toolbar) %}
  <div class="gin-secondary-toolbar layout-container">
    {{ page.gin_secondary_toolbar }}
  </div>
{% endif %}

{% if (attributes) %}
  <div{{ attributes }}>
{% endif %}
    <header role="banner">
      {{ page.header }}
    </header>
    <main role="main">
      {{ page.content }}
    </main>
{% if (attributes) %}
  </div>
{% endif %}
